nav {
    position: relative;
    padding: 1vw 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 15px #00000061;
}

img.logo {
    width: auto;
    max-width: 100%;
    max-height: 90px;
    z-index: 1;
    position: relative;
}

.links {
    display: flex;
    gap: 2em;
}

.links a {
    font-weight: 200;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.nav-link {
    transition: .5s;
}

.nav-link:hover {
    font-size: 23px;
}

.links .dropdow-menu {
    font-weight: 200;
    font-size: 18px;
}

.dropdow-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: .5s;
    justify-content: center;
}

.dropdow-menu:hover {
    font-size: 23px;
}

.dropdown-menu-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5em;
}

.dropdown-menu-body {
    display: none;
    width: 145px;
    padding: 0.5em 1em;
    position: absolute;
    top: 59%;
    background: white;
    flex-direction: column;
    gap: .5em;
    align-items: flex-start;
}

.dropdown-menu-header:hover + .dropdown-menu-body {
    display: flex;
}

.dropdown-menu-body:hover {
    display: flex;
}

.dropdown-option a {
    background: transparent;
    border: none;
    font-size: 16px;
    font-family: "Montserrat", sanse;
    font-weight: 300;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.menu-icon {
    font-size: 2em;
}

.hamburger-menu-body {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.hamburger-menu-item-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .8em 1em;
    border-bottom: 1px solid #0000004a;
}

.hamburger-menu-item-container:first-child {
    border-top: 1px solid #0000004a;
}

.hamburger-menu-item-container.hamburger-dropdown {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0;
}

.hamburger-dropdown-options {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    background: var(--tertiary-color);
}

.hamburger-dropdown-options a {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 1em 1em 1em 2em;
    border-top: 1px solid #0000004a;
}

.hamburger-menu-item.hamburger-dropdown-title {
    width: 100%;
    padding: 1em;
    font-weight: 200;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu-item.hamburger-dropdown-title > * {
    font-size: 1em;
}

.hamburger-menu-item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (min-width: 1201px) {
    .Small {
        display: none !important;
    }
}

@media screen and (max-width: 1200px) {
    .Large {
        display: none !important;
    }

    .links a {
        font-size: 1em;
        width: 100%;
        justify-content: flex-start;
    }
}

.big-dropdown-menu-body {
    display: none;
    position: absolute;
    background: white;
    left: 0;
    top: 75px;
    width: 100%;
    height: 200px;
    justify-content: space-evenly;
    align-items: center;
    cursor: default;
    padding-top: 40px;
}

.big-dropdown-option {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    max-width: 320px;
    height: 120px;
    transition: .5s;
    padding: 10px;
    cursor: pointer;
    border: 2px solid transparent;
}

.big-option-1:hover {
    border: 2px solid var(--primary-color);
    box-shadow: var(--primary-color) 10px 10px;
}

.big-option-2:hover {
    border: 2px solid var(--secondary-color);
    box-shadow: var(--secondary-color) 10px 10px;
}

.big-option-3:hover {
    border: 2px solid var(--fourth-color);
    box-shadow: var(--fourth-color) 10px 10px;
}

.big-option-4:hover {
    border: 2px solid var(--fifth-color);
    box-shadow: var(--fifth-color) 10px 10px;
}

.big-dropdown-option i {
    font-size: 25px;
}

.big-option-1 i {
    background: var(--primary-color);
    color: white;
    padding: 10px;
}

.big-option-2 i {
    background: var(--secondary-color);
    color: white;
    padding: 10px;
}

.big-option-3 i {
    background: var(--fourth-color);
    color: white;
    padding: 10px;
}

.big-option-4 i {
    background: var(--fifth-color);
    color: white;
    padding: 10px;
}

.links .big-dropdow-menu {
    font-weight: 200;
    font-size: 18px;
}

.big-dropdow-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: .5s;
    justify-content: center;
}

.big-dropdow-menu:hover {
    font-size: 23px;
}

.big-dropdown-menu-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5em;
}

.big-dropdown-menu-header:hover + .big-dropdown-menu-body {
    display: flex;
}

.big-dropdown-menu-body:hover {
    display: flex;
}

.big-dropdown-option a {
    background: transparent;
    border: none;
    font-size: 18px;
    font-family: "Montserrat", sanse;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.big-dropdown-option-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.big-dropdown-option-description {
    font-size: 13px;
    font-weight: 400;
}