.about-header {
    padding: 4em;
    width: 130%;
}

section.about h2 {
    font-size: 30px;
}

.our-team-header {
    background-color: var(--secondary-color);
}

.our-story-header {
    background-color: var(--primary-color);
}

.education-header {
    background-color: var(--fourth-color);
}

.animals-and-plants-header {
    background-color: var(--fifth-color);
    color: white;
}

.about-body {
    width: 1000px;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: justify;
}

p.indent {
    padding-left: 2em;
}

@media screen and (max-width: 1200px) {
    .about-body {
        width: 400px;
    }

    p.indent {
        padding-left: 0;
    }
}