.about-header {
    padding: 2em;
    width: 130%;
}

section.about h2 {
    color: white;
    text-transform: uppercase;
}

.our-team-header {
    background-color: var(--secondary-color);
    font-size: 30px;
    color: white;
    text-transform: uppercase;
}

.our-story-header {
    background-color: var(--primary-color);
    font-size: 30px;
    color: white;
    text-transform: uppercase;
}

.education-header {
    background-color: var(--fourth-color);
    font-size: 30px;
    color: white;
    text-transform: uppercase;
}

.our-animals-header {
    background-color: var(--fifth-color);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    text-transform: uppercase;
}

.about-body {
    max-width: 1000px;
}

.our-animals .about-body {
    max-width: 2000px;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: justify;
}

p.indent {
    padding-left: 2em;
}

.team-member {
    width: 200px;
}

.employee-img {
    width: 100%;
    height: 200px;
    border-radius: 15px;
}

.our-team .about-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

p.animal-name {
    font-weight: 600;
}

.animal-img {
    width: 100%;
    height: 200px;
    filter: brightness(0.9);
    transition: .5s;
    border-radius: 15px;
}

.animal-img:hover {
    filter: brightness(0.7);
}

.our-animals .about-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

p.animal-name {
    font-weight: 600;
}

.animal-info {
    color: white;
    position: relative;
    bottom: 40px;
    left: 15px;
}

.animal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.not-extinct i {
    background: green;
    border: 2px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.critically-endangered i {
    background: red;
    border: 2px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.least-concern i {
    background: orange;
    border: 2px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.at-a-glance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.at-a-glance i {
    font-size: 30px;
}

.at-a-glance p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.animal-description p {
    font-size: 16px;
}

@media screen and (max-width: 1200px) {
    .about-body {
        width: 400px;
    }

    .our-team .about-body {
        width: 100%;
    }

    .our-animals .about-body {
        width: 100%;
    }

    p.indent {
        padding-left: 0;
    }
}
