.tickets-header {
    background: var(--primary-color);
    padding: 4em;
    width: 130%;
}

.safari-wagon-tour-header {
    background: var(--primary-color);
    padding: 4em;
    width: 130%;
}

.safari-wine-tasting-events-header {
    background: var(--secondary-color);
    padding: 4em;
    width: 130%;
}

section.tickets-header h2 {
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}

section.safari-wagon-tour-header h2 {
    font-size: 40px;
    padding: 0 10px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

section.safari-wine-tasting-events-header h2 {
    font-size: 40px;
    padding: 0 10px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.tickets .tour-price {
    display: flex !important;
}

.tickets .tours-list {
    width: 100vw;
    padding-left: 30px;
}

.modal-option img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

@media screen and (max-width: 1200px) {

    .tickets .tours-list.tour-container-1 .tour-container {
        right: 0px;
    }

    .tickets .tours-list.tour-container-2 .tour-container {
        right: 355px;
    }

    .tickets .tours-list.tour-container-3 .tour-container {
        right: 720px;
    }

    .tickets .tours-list.tour-container-4 .tour-container {
        right: 1085px;
    }

    .tickets .tours-list.tour-container-5 .tour-container {
        right: 1440px;
    }
}