.tickets-header {
    background: var(--primary-color);
    padding: 4em;
    width: 130%;
}

section.tickets-header h2 {
    font-size: 30px;
}

.tickets .tours-list {
    width: 80%;
}

.tickets .tour-container {
    min-width: 25%;
}

.tickets .tours-list {
    padding-left: 0;
}

@media screen and (max-width: 1200px) {
    .tickets .tours-list .tour-container {
        min-width: 95% !important;
    }
}