.events-header {
    background: var(--secondary-color);
    padding: 4em;
    width: 130%;
}

section.events-header h2 {
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}

.events-img {
    padding: 1em;
    width: 50%;
}

.event {
    display: flex;
}

.events-details {
    padding: 2em 3em;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
}

.events-img img {
    width: 100%;
    height: fit-content;
}

h1.event-name {
    font-size: 2em;
}

.events-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.event-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 300px;
}

img.event-logo {
    height: 150%;
    width: 100%;
    position: relative;
    bottom: 50px;
    right: 50px;
}

.event-name-or-logo {
    height: 70%;
    width: 100%;
}

.event-header-details {
    height: 30%;
    width: 100%;
}

.margin-bottom-neg-50 {
    margin-bottom: -50px;
}

.book-event {
    padding: 1em 0;
}

.book-event a {
    background: var(--secondary-color);
    color: white;
    font-weight: 600;
    padding: 1em 2em;
    border-radius: 5px;
}

@media screen and (max-width: 1200px) {
    .event {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    .events-img {
        width: 100%;
        padding: 0;
    }

    .events-details {
        width: 100%;
        padding: 0;
    }

    .events-content {
        gap: 5em;
    }
}