footer {
    background: var(--primary-color);
    padding: 2em 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    flex-direction: column;
}

.footer-logo img {
    width: 331px;
    height: 135px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.footer-row {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    gap: 4em;
    font-size: 17px;
}

.footer-row a {
    text-align: center;
}

.contact-us-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .5em;
}

.contact-us-info a {
    font-weight: 500;
    text-decoration: underline;
}

.footer-logo {
    display: flex;
    gap: 1em;
}