.not-on-mobile p {
    margin-top: 300px;
}

@media screen and (max-width: 900px) {
    .not-on-mobile {
        position: absolute;
        width: 100vw;
        height: 5000px;
        background: var(--tertiary-color);
        z-index: 1;
        display: flex;
    }
}

@media screen and (min-width: 901px) {
    .not-on-mobile {
        display: none;
    }
}