.tours-header {
    background: var(--fourth-color);
    padding: 4em;
    width: 130%;
}

section.tours-header h2 {
    font-size: 30px;
}

.tours .tours-list {
    width: 80%;
}

/* .tours .tour-container {
    min-width: 25%;
} */

.tours .tours-list {
    width: 100vw;
    padding-left: 30px;
}

@media screen and (max-width: 1200px) {
    .tours .tours-list .tour-container {
        min-width: 95% !important;
    }

    .tours .tours-list.tour-container-1 .tour-container {
        right: 0px;
    }

    .tours .tours-list.tour-container-2 .tour-container {
        right: 355px;
    }

    .tours .tours-list.tour-container-3 .tour-container {
        right: 720px;
    }

    .tours .tours-list.tour-container-4 .tour-container {
        right: 1085px;
    }

    .tours .tours-list.tour-container-5 .tour-container {
        right: 1440px;
    }
}
