section.memberships-header {
    background: var(--secondary-color);
    color: white;
    padding: 4em;
}

section.memberships-header h2 {
    font-size: 40px;
    text-transform: uppercase;
}

section.memberships-body {
    gap: 40px;
}

.membership {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.memberships a {
    background: var(--secondary-color);
    padding: 1em 2em;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 40px;
}

.memberships-img {
    width: 450px;
    height: 550px;
    border-radius: 15px;
    transition: .5s;
}

.memberships-img:hover {
    transform: translateY(-10px)
}

@media screen and (max-width: 1200px) {
    section.memberships-body {
        overflow-x: scroll;
        display: flex;
        justify-content: flex-start;
    }

    .memberships-img {
        width: 300px;
        height: 400px;
    }
}
