.internship-application-header {
    background: var(--fifth-color);
    padding: 4em;
    color: white;
    width: 130%;
}

section.internship-application-header h2 {
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}

.internship-application-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    width: 900px;
    height: 400px;
}

.internship-application-description a {
    background: var(--fifth-color);
    padding: 1em 2em;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

@media screen and (max-width: 1200px) {
    .internship-application-description {
        width: 400px;
        height: fit-content;
    }
}