.home-component-1 {
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: url("../../(assets)/splash-background.png");
    background-size: cover !important;
    background-position: bottom;
    justify-content: flex-end;
    padding-bottom: 5em;
    transition: .5s;
}

/* .home-component-1.background-1 {
    background: url("../../(assets)/splash-background.png");
}

.home-component-1.background-2 {
    background: url("../../(assets)/kids-enter-free-home.png");
} */

.home-component-1.background-2 .container {
    display: none;
}

.home-component-1 .container {
    width: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.home-component-1 .text-box p {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.home-component-2 .container {
    /* max-width: 1248px; */
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.component-header h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.component-description {
    max-width: 900px;
}

.component-description p {
    text-align: center;
}

.tours-list {
    overflow-x: scroll;
    justify-content: center;
    padding: 2em;
    gap: 50px;
    display: flex;
    height: calc(800px*0.87);
}

.tour-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: calc(452px*0.8);
    background: #f4f4f0;
    height: 100%;
    border-radius: calc(32px*0.8);
    box-shadow: #00000029 0px 10px 5px;
    padding: 15px 0;
}

.tour-body {
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: #554435;
}

.tour-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tour-image img {
    width: calc(355px*0.8);
    height: calc(355px*0.8);
    object-fit: cover;
    border-radius: calc(32px*0.8);
}

.tour-name {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tour-name p {
    text-transform: uppercase;
    font-size: calc(31px*0.8);
    text-align: center;
    font-weight: 700;
}

.tour-1 .tour-name p {
    width: 200px;
}

.tour-2 .tour-name p {
    width: 234px;
}

.swt-3 .tour-name p {
    width: 220px;
}

.tour-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.tour-description p {
    text-align: center;
    font-weight: 550;
    font-size: calc(18px*0.8);
    width: calc(359px*0.87);
}

.tour-description .text-align-justify {
    text-align: justify;
}

.tour-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tour-button a,
.tour-button button {
    width: calc(202px*0.8);
    height: calc(60px*0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    flex-direction: column;
    border-radius: 50px;
    color: white;
    box-shadow: #0000003d 0px 5px;
    border: none;
}

.tour-button.green a {
    background: var(--primary-color);
}

.tour-button.orange a {
    background: var(--secondary-color);
}

.tour-button.yellow a {
    background: var(--fourth-color);
}

.tour-button.green button {
    background: var(--primary-color);
}

.tour-button.orange button {
    background: var(--secondary-color);
}

.tour-button.yellow button {
    background: var(--fourth-color);
}

.tour-button.blue a {
    background: #13c1ea;
}

.tour-button.blue button {
    background: #13c1ea;
}

/* .tour-button button {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    background: var(--fourth-color);
    flex-direction: column;
    border: none;
    font-family: 'Montserrat', sans-serif;
    transition: .5s;
    border-radius: 10px;
} */

/* .tour-button button:hover {
    filter: brightness(0.7);
} */

.tour-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.book-tour-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    font-size: calc(24px*0.8);
    font-family: var(--paragraph-font-family);
}

.tour-price-text {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.per-person-text {
    font-size: 12px;
    text-align: center;
}

.tour-departures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

section.home-component-3 {
    background: white;
    padding-bottom: 7em;
}

.home-component-3 .container {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    gap: 1em;
}

.home-component-3 .container .container-row {
    display: flex;
    width: 100%;
    height: 50%;
    gap: 1em;
}

.home-component-3 .container .container-row .container-cell {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.cell-image {
    width: 100%;
    height: 300px;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    transition: .5s;
}

.main-cell .component-header h2 {
    font-size: 50px;
    width: 80%;
}

.container-cell.main-cell {
    gap: 1em;
    padding: 1em;
}

.cell-description {
    background: var(--primary-color);
    padding: .5em 1em;
}

.cell-description p {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

.container-cell .component-description p {
    text-align: left;
    line-height: 2em;
}

.cell-2 .cell-image {
    background-image: url("../../(assets)/cell-2.png");
}

.cell-3 .cell-image {
    background-image: url("../../(assets)/cell-3.png");
}

.cell-4 .cell-image {
    background-image: url("../../(assets)/cell-4.png");
}

.cell-2 .cell-image:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.6)), url("../../(assets)/cell-2.png");
}

.cell-3 .cell-image:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.6)), url("../../(assets)/cell-3.png");
}

.cell-4 .cell-image:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.6)), url("../../(assets)/cell-4.png");
}

.cell-2 .cell-image:hover p {
    display: flex;
}

.cell-3 .cell-image:hover p {
    display: flex;
}

.cell-4 .cell-image:hover p {
    display: flex;
}

.cell-image p {
    text-align: justify;
    color: var(--tertiary-color);
    font-size: 18px;
    display: none;
    transition: 0.5s;
}

.home-component-4 {
    background: #f4f4f0;
    padding: 0;
    justify-content: flex-start;
}

.home-component-4 .container {
    display: flex;
    align-items: center;
    height: 600px;
    width: 100%;
}

.park-location {
    width: 100%;
}

.park-location .park-location-img {
    background-image: url("../../\(assets\)/park-location.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.how-to-get-there {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 475px;
    border-radius: 20px;
    font-size: 18px;
    gap: 1em;
    padding: 2em;
    text-align: center;
    position: relative;
    right: 50px;
}

.how-to-get-there i.how-to-get-there-icon {
    font-size: 2em;
    color: var(--primary-color);
}

p.park-name {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 20px;
}

h2.getting-there {
    font-size: 30px;
    font-weight: 800;
}

.get-directions-button {
    cursor: pointer;
    color: var(--secondary-color);
    font-weight: 500;
}

.home-component-5 {
    height: 700px;
}

.home-component-5 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    max-width: 600px;
}

.email-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-weight: 500;
    gap: 1em;
}

.email-icon p {
    font-size: 30px;
}

.email-icon i {
    font-size: 50px;
}

.sign-up-text h2 {
    font-size: 40px;
    text-align: center;
}

.sign-up-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.sign-up-form input {
    width: 85%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 1em;
}

.sign-up-form button {
    width: 15%;
    height: 100%;
    background: var(--primary-color);
    color: white;
    text-transform: uppercase;
    border: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 5px;
}

.follow-us-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 100px;
}

.follow-us-text h2 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: var(--secondary-color);
}

.social-media-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.social-media-links a {
    font-size: 30px;
}

.thanks-for-subscribing {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: .5em 1em;
    border-radius: 5px;
}

.email-error {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    padding: .5em 1em;
    border-radius: 5px;
}

@media screen and (min-width: 1201px) {
    .home-component-1 .container {
        width: 440px;
    }

    .park-location {
        height: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .home-component-1 .container {
        width: 440px;
        position: relative;
        top: 10px;
        gap: 10px;
    }

    .home-component-1 .text-box p {
        font-size: 14px;
    }

    .tours-list.tour-container-1 .tour-container {
        right: 0px;
    }

    .tours-list.tour-container-2 .tour-container {
        right: 330px;
    }

    .tours-list.tour-container-3 .tour-container {
        right: 670px;
    }

    .tours-list.tour-container-4 .tour-container {
        right: 1000px;
    }

    .tours-list.tour-container-5 .tour-container {
        right: 0px;
    }

    .component-description.tour-departures h2 {
        font-size: 20px;
    }

    .component-header h2 {
        font-size: 22px;
    }

    .home-component-1 {
        height: 300px;
        padding: 2em;
    }

    .home-component-1.background-2 {
        height: 210px;
    }

    .home-component .container {
        width: 100%;
        margin: 0 auto;
    }

    .home-component-4 .container {
        flex-direction: column-reverse;
        height: fit-content;
        gap: 2em;
        padding: 0;
    }

    .component-header {
        text-align: center;
        padding: 1em;
    }

    .component-description {
        padding: 0 2em;
    }

    .component-description p {
        text-align: justify;
    }

    .tours-list {
        width: 100%;
        justify-content: flex-start;
        padding: 2em;
        gap: 1em;
        position: relative;
        overflow-x: scroll;
    }

    .tours-list .tour-container {
        position: relative;
        transition: .5s;
        min-width: calc(452px* 0.8);
    }

    .container-row {
        flex-direction: column;
    }

    .home-component-3 .container .container-row .container-cell {
        width: 100%;
    }

    .main-cell .component-header h2 {
        font-size: 40px;
        width: 100%;
    }

    .home-component-3 .component-description p {
        text-align: center;
        line-height: 1.5em;
    }

    section.home-component.home-component-3 {
        width: 110%;
        padding-bottom: 5em;
    }

    h2.getting-there {
        font-size: 26px;
    }

    p.park-address {
        font-size: 16px;
    }

    p.location-description {
        font-size: 16px;
    }

    .how-to-get-there {
        position: unset;
        height: fit-content;
        width: 90%;
        margin-top: 2em;
    }

    .park-location {
        display: flex;
        height: 300px;
    }

    .home-component-5 {
        height: fit-content;
    }

    .sign-up-form {
        flex-direction: column;
        height: fit-content;
    }

    .sign-up-form input {
        width: 100%;
        height: 50px;
    }

    .sign-up-form button {
        width: 100%;
        height: 40px;
    }

    .sign-up-text h2 {
        font-size: 27px;
    }

    .home-component-2 {
        padding: 0;
    }
}

.swipe-box {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
}

.inner-box {
    width: 50%;
    height: 100%;
}
